<div
  class="modal-padding"
  (click)="onContainerClicked($event)"
  class="modal fade"
  tabindex="-1"
  [ngClass]="{'in': visibleAnimate}"
  [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="dropFlag == true">
          <div>
            <p>Are you sure you want to delete 
              <strong>{{project.title}}</strong> project
            </p>
          </div>
        </div>
        <div class="form-inline" *ngIf="changeFlag == true">
            <label class="pr-2"><strong>Project name: </strong></label>
            <input 
              class="form-control" 
              [maxLength]="projectNameLength"
              [(ngModel)]="project.title" 
            />
        </div>
        <div class="form-inline" *ngIf="createFlag == true">
          <label class="pr-2"><strong>Project name: </strong></label>
          <input 
            class="form-control" 
            name="itemElement" 
            [(ngModel)]="itemElement" 
            placeholder='Input new project name'
            [maxLength]="projectNameLength"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Input new project name'"  
          />
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="d-flex justify-content-end">
            <div class="form-group pr-1">
              <button *ngIf="dropFlag == true" class="btn btn-danger" (click)="deleteItem(project)">Delete</button>
              <button *ngIf="changeFlag == true" class="btn btn-success" (click)="changeItem(project, project.title)">Change</button>
              <button *ngIf="createFlag == true" class="btn btn-success" (click)="addNewProject(itemElement)" [disabled]="!itemElement">Add</button>
            </div>
            <div class="pl-1 pr-2">
              <button class="btn btn-primary" (click)="close()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>