<div>
  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <picture>
          <source media="(min-width: 1200px)" [srcset]="firstImg_1920">
          <source media="(min-width: 992px)" [srcset]="firstImg_1200">
          <source media="(min-width: 768px)" [srcset]="firstImg_992">
          <source media="(min-width: 576px)" [srcset]="firstImg_768">
          <source [srcset]="firstImg_576">
          <img class="d-block img-fluid" [src]="firstImg_1920" alt="first_img" sr-only="First Image">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(min-width: 1200px)" [srcset]="secondImg_1920">
          <source media="(min-width: 992px)" [srcset]="secondImg_1200">
          <source media="(min-width: 768px)" [srcset]="secondImg_992">
          <source media="(min-width: 576px)" [srcset]="secondImg_768">
          <source [srcset]="secondImg_576">
          <img class="d-block img-fluid" [src]="secondImg_1920" alt="second_img" sr-only="Second Image">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(min-width: 1200px)" [srcset]="thirdImg_1920">
          <source media="(min-width: 992px)" [srcset]="thirdImg_1200">
          <source media="(min-width: 768px)" [srcset]="thirdImg_992">
          <source media="(min-width: 576px)" [srcset]="thirdImg_768">
          <source [srcset]="thirdImg_576">
          <img class="d-block img-fluid" [src]="thirdImg_1920" alt="third_img" sr-only="Third Image">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(min-width: 1200px)" [srcset]="fourthImg_1920">
          <source media="(min-width: 992px)" [srcset]="fourthImg_1200">
          <source media="(min-width: 768px)" [srcset]="fourthImg_992">
          <source media="(min-width: 576px)" [srcset]="fourthImg_768">
          <source [srcset]="fourthImg_576">
          <img class="d-block img-fluid" [src]="fourthImg_1920" alt="fourth_img" sr-only="Fourth Image">
        </picture>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container">
    <div class="row pt-5">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <span class="small-topic-text-body">
                About            
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="big-topic-text-body">
                <strong>
                  Us
                </strong>
            </span>
          </div>
        </div>
      </div>
      <div class="col-8 content-justify">
        <span class="content-style">
            Based in Calgary, Alberta, AMP X is a company that’s 20 years in the making. Only through the completion of more than 100 electrical,
             instrumentation and controls (E, I and C) projects did we have enough first-hand information to build a solution we feel can truly help our 
             customers deliver their projects better. Through technology and practical project delivery methods that enable thoughtful engineering, we help 
             customers improve their bottom lines in today’s challenging business environment.
        </span>
      </div>
      <div class="col-12 pt-5">
        <hr/>
      </div>
    </div>
  <!-- -->
    <div class="row pt-3">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <span class="small-topic-text-body">Our</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="big-topic-text-body">
              <strong>
                Vision
              </strong>
            </span>
          </div>
        </div>
      </div>
      <div class="col-8 content-justify">
        <div class="row">
          <div class="col-12">
            <span class="content-style">
              Go beyond end-to-end E, I and C professional services.
            </span>
          </div>  
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <span class="content-style">
              With a foundation that includes subject matter expertise in engineering, regulations and codes, construction and inspection, we are passionate about helping 
              our customers focus on optimizing engineering, reducing costs and benefitting long-term from solutions driven by technology and data.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 pt-5">
        <hr/>
      </div>
    </div>
  <!-- -->
    <div class="row pt-3">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <span class="small-topic-text-body">
                Our
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="big-topic-text-body">
              <strong>
                  Goals
              </strong>
            </span>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row d-none d-block">
          <div class="col-12">
            <picture>
              <source media="(min-width: 1200px)" [srcset]="lightbulbIcon_1200">
              <source media="(min-width: 768px)" [srcset]="lightbulbIcon_768">
              <source [srcset]="lightbulbIcon_576">
              <img class="d-block img-fluid" [src]="lightbulbIcon_1200" alt="lightbulb_icon" sr-only="Lightbulb Icon">
            </picture>
                <!--
            <img class="img-fluid" [src]="lightbulbIcon"/>
                -->
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 content-justify">
            <span class="content-style">
              To provide trusted E, I and C solutions to our customers with a foundation that includes multiple decades of subject matter expertise and lessons-learned 
              in engineering, technology, regulations and codes, construction and inspection.
            </span>
          </div>
        </div>
        <div class="row pt-3 d-none d-block">
          <div class="col-12">
            <picture>
              <source media="(min-width: 1200px)" [srcset]="graficIcon_1200">
              <source media="(min-width: 768px)" [srcset]="graficIcon_768">
              <source [srcset]="graficIcon_576">
              <img class="d-block img-fluid" [src]="graficIcon_1200" alt="grafic_icon" sr-only="Grafic Icon">
            </picture>
            <!--
            <img class="img-fluid" [src]="graficIcon"/>
            -->
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 content-justify">
              <span class="content-style">
                To add more value to our customers by shifting professional services efforts from tedious and time-consuming deliverable-related tasks to engineering, 
                stakeholder collaboration and total installed cost optimization, while maintaining project schedules.
              </span>
          </div>
        </div>
        <div class="row pt-3 d-none d-md-block">
          <div class="col-12">
            <picture>
              <source media="(min-width: 1200px)" [srcset]="computerIcon_1200">
              <source media="(min-width: 768px)" [srcset]="computerIcon_768">
              <source [srcset]="computerIcon_576">
              <img class="d-block img-fluid" [src]="computerIcon_1200" alt="computer_icon" sr-only="Computer Icon">
            </picture>
            <!--
            <img class="img-fluid" [src]="computerIcon"/>
            -->
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 content-justify">
            <span class="content-style">
              To leverage the benefits of technology and globalization by effectively implementing a proprietary database and design tools, paired with multi-office 
              solutions, while not burdening customers with expensive and complicated software systems and onerous organizational structures.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 pt-5">
        <hr/>
      </div>
    </div>
  <!-- -->
    <div class="row pt-3">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <span class="small-topic-text-body">Our</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="big-topic-text-body">
              <strong>
                Model
              </strong>
            </span>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12 content-justify">
            <span class="content-style">
              To support our customers as they develop new projects or modify existing assets, we believe the best value we can bring is to spend as much effort as possible on tasks outside of deliverable development itself. By completing our designs within a proprietary database and by using effective design tools, we are able to remove many of the tedious and time-consuming efforts faced by projects completed using traditional methods, while maintaining a high level of design control and quality. Even more beneficial to our customers’ bottom lines is our ability to focus more of our time on the engineering itself. This includes an increased ability to concentrate on cost and design optimization and examination of how codes and regulations need to be implemented, while maintaining tight project schedules.
            </span>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 content-justify">
            <span class="content-style">
              Being able to produce high-quality engineering and complete deliverable packages with less effort is where we believe our differentiated solution begins. By using our database, engineering data is recorded, controlled and made available to project stakeholders such as other engineering disciplines, supply chain, vendors, construction and commissioning teams. This promotes collaboration, provides an ability to streamline professional services efforts and improves consistency. And let’s not forget that our customers are left with not only a complete set of deliverables, but also a comprehensive data package to support operations, future projects and long-term asset management.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 pt-5">
        <hr/>
      </div>
    </div>
  <!-- -->
    <div class="row pt-3 pb-5">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <span class="small-topic-text-body">
              Our
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="big-topic-text-body">
              <strong>
                Leadership
              </strong>  
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <img class="img-fluid" [src]="leaderImg"/>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <span class="content-style">
              <strong>
                Greg Jarbeau, P.L.(Eng.), SCO, CME
              </strong>
            </span>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <span class="content-style">
              <i>
                Owner and Principal
              </i>
            </span>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 content-justify">
            <span class="content-style">
              Greg is a professional engineering technologist with more than 20 years of experience working in the energy & resources and commercial sectors. Throughout his career, Greg has helped numerous firms deliver complex projects on schedule and with the highest quality. His experience is in both project lead and technical specialist roles for scopes ranging from conceptual studies to detailed engineering and construction projects.
            </span>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 content-justify">
            <span class="content-style">
              His specialties include E, I and C engineering, construction management, field inspection and commissioning / start-up support. Greg started his career as an electrician, then completed the electrical engineering technology program at Northern Alberta Institute of Technology (NAIT) in Edmonton. Greg is also a certified master electrician and safety codes officer who is highly knowledgeable with respect to construction practices, codes and regulations. His field experience spans both hands-on and professional field services, with more than 10 years of successfully-delivered roles working at facilities throughout North America and globally.
            </span>
          </div>
        </div>
      </div>
    </div>
  <!-- -->
  </div>
  <footer *ngIf="sizeWindow > 992; else werticalFooter">
    <div class="custom-footer">
      <div class="d-flex align-items-center justify-content-around h-100">
        <div class="p-1 bd-highlight">
          <div class="row align-items-center">
            <div class="col-4">
              <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
            </div>
            <div class="col-8">
              <span> <a href="tel:1.403.863.0893" class="footer_href">1.403.863.0893</a></span>
            </div>
          </div>
        </div>
        <div class="p-1 bd-highlight">
          <div class="row align-items-center">
            <div class="col-4">
              <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
            </div>
            <div class="col-8">
              <span><a class="footer_href" href="mailto:info@ampx.ca">info@ampx.ca</a></span>
            </div>
          </div>
        </div>
        <div class="p-1 bd-highlight">
          <div class="row align-items-center">
            <div class="col-3">
              <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
            </div>
            <div class="col-9">
              <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
            </div>
          </div>
        </div>
        <div class="p-1 bd-highlight">
            <span class="footer-text">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
        </div>
      </div>
    </div>
  </footer>
  <ng-template class="template-footer" #werticalFooter>
    <div class="custom-footer">
      <div class="d-flex flex-column">
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
            </div>
          </div>
          <div class="col-6 mr-a">
            <span> <a href="tel:1.403.863.0893" class="footer_href">1.403.863.0893</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
            </div>
          </div>
          <div class="col-6">
            <span><a class="footer_href" href="mailto:info@ampx.ca">info@ampx.ca</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
            </div>
          </div>
          <div class="col-6">
            <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <span class="footer-text text-center">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>