<div>
  <div class="img-block">
    <picture>
      <source media="(min-width: 1200px)" [srcset]="contactUsImg_1920">
      <source media="(min-width: 992px)" [srcset]="contactUsImg_1200">
      <source media="(min-width: 768px)" [srcset]="contactUsImg_992">
      <source media="(min-width: 576px)" [srcset]="contactUsImg_768">
      <source [srcset]="contactUsImg_576">
      <img class="d-block img-fluid" [src]="contactUsImg_1920" alt="contactUs" sr-only="Contact Us">
    </picture>
    <div class="img-captcha">
        <div class="img-captcha-fone"></div>
        <div class="d-flex align-items-start flex-column max-height">
          <p class="carousel-caption-header-text pl-4 mt-auto mb-auto captcha-header"><strong>How can we help you?</strong></p>
          <hr class="mb-auto ml-4 mt-auto">
          <p class="pl-4 pr-4 mt-auto mb-auto captcha-footer">
            We are eager to help your business. Please contact us directly via telephone or email, or submit an inquiry using the form below.
          </p>
        </div>
    </div>
  </div>
  <div class="container">
    <form [formGroup]="contactUsForm" novalidate (ngSubmit)="submit()">
      <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6 col-lg-4 col-xl-6">
          <div class="row">
            <div class="col-12 form-element-height">
              <div class="form-group">
                <input class="form-control" type="text" name="userName" formControlName="userName" placeholder="Name" />
                <div class="form-control-feedback validate-message" *ngIf="contactUsForm.controls['userName'].invalid && contactUsForm.controls['userName'].touched">
                  <span>Name is required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-element-height">
              <div class="form-group">
                <input class="form-control" type="email" name="userEmail" formControlName="userEmail" placeholder="Email" />
                <div class="form-control-feedback validate-message" *ngIf="contactUsForm.controls['userEmail'].invalid && contactUsForm.controls['userEmail'].touched">
                  Invalid email address
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-element-height">
              <div class="form-group">
                <input class="form-control" type="text" name="userPhone" formControlName="userPhone" (keypress)="keyPress($event)" placeholder="Phone number (optional)" />
                <div class="form-control-feedback validate-message" *ngIf="contactUsForm.controls['userPhone'].invalid">
                    Invalid phone number
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-6">
          <div class="form-group" class="form-text-block">
            <textarea class="form-control" formControlName="message" rows="7"></textarea>
          </div>
        </div>
      </div>
      <div class="row contsct-us__submit-btn__block">
        <div class="col-12">
          <!--<a href="/" type="button" class="btn btn-warning btn-lg btn-block">Submit</a> -->
          <a class="contsct-us__submit-btn__stile text-center float-right" routerLink="/"> Submit <span class="sr-only"> Submit </span></a>
        </div>
      </div>
    </form>
  </div>
  <footer *ngIf="sizeWindow > 992; else werticalFooter">
    <div class="custom-footer">
        <div class="d-flex align-items-center justify-content-around custom-footer-link max-height">
            <div class="p-1 bd-highlight">
              <div class="row align-items-center">
                <div class="col-4">
                  <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
                </div>
                <div class="col-8">
                  <span> <a href="tel:1.403.863.0893" class="footer_href">1.403.863.0893</a></span>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
              <div class="row align-items-center">
                <div class="col-4">
                  <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
                </div>
                <div class="col-8">
                  <span><a class="footer_href" href="mailto:info@ampx.ca">info@ampx.ca</a></span>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
              <div class="row align-items-center">
                <div class="col-3">
                  <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
                </div>
                <div class="col-9">
                  <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
                <span class="footer-text">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
            </div>
          </div>
        </div>
  </footer>
  <ng-template class="template-footer" #werticalFooter>
    <div class="custom-footer">
      <div class="d-flex flex-column">
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
            </div>
          </div>
          <div class="col-6 mr-a">
            <span> <a href="tel:1.403.863.0893" class="footer_href">1.403.863.0893</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
            </div>
          </div>
          <div class="col-6">
            <span><a class="footer_href" href="mailto:info@ampx.ca">info@ampx.ca</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
            </div>
          </div>
          <div class="col-6">
            <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <span class="footer-text text-center">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>