<div *ngIf="user">
  <h2 class="page-header">{{user.userName}}</h2>
  <ul class="list-group">
    <li class="list-group-item">User email address: {{user.email}}</li>
    <li class="list-group-item">User first name: {{user.firstName}}</li>
    <li class="list-group-item">User last name: {{user.lastName}}</li>
    <li class="list-group-item">User company name: {{user.companyName}}</li>
    <li class="list-group-item">User from city: {{user.city}}</li>
    <li class="list-group-item">User phone number: {{user.phone}}</li>
  </ul>
</div>