<div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators carousel-indicators-position">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <picture>
          <source media="(min-width: 1200px)" [srcset]="engenieeringOptimization_1920">
          <source media="(min-width: 992px)" [srcset]="engenieeringOptimization_1200">
          <source media="(min-width: 768px)" [srcset]="engenieeringOptimization_992">
          <source media="(min-width: 576px)" [srcset]="engenieeringOptimization_768">
          <source [srcset]="engenieeringOptimization_576">
          <img class="d-block img-fluid" [src]="engenieeringOptimization_1920" alt="Engenieering Optimization" sr-only="Engenieering Optimization">
        </picture>
        <div class="carousel-caption custom-carousel-caption">
          <div class="d-flex align-items-start flex-column carousel-text-container">
            <div class="mb-auto mt-auto">
              <p class="carousel-caption-header-text pl-4"><strong>Engineering</strong></p>
              <p class="carousel-caption-header-text pl-4"><strong>Optimization</strong></p>
            </div>
            <hr class="ml-4 mb-auto mt-auto">
            <p class="pl-4 pr-2 mb-auto mt-auto description-carousel-caption">Through our AMP X CORE technology and practical project delivery methods that enable thoughtful engineering, we help customers improve their bottom lines.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(min-width: 1200px)" [srcset]="trusted_Experts_1920">
          <source media="(min-width: 992px)" [srcset]="trusted_Experts_1200">
          <source media="(min-width: 768px)" [srcset]="trusted_Experts_992">
          <source media="(min-width: 576px)" [srcset]="trusted_Experts_768">
          <source [srcset]="trusted_Experts_576">
          <img class="d-block img-fluid" [src]="trusted_Experts_1920" alt="Lifecycle Solutions" sr-only="Lifecycle Solutions">
        </picture>
        <div class="carousel-caption custom-carousel-caption">
            <div class="d-flex align-items-start flex-column carousel-text-container">
              <div class="mb-auto mt-auto">
                <p class="carousel-caption-header-text pl-4"><strong>Lifecycle</strong></p>
                <p class="carousel-caption-header-text pl-4"><strong>Solutions</strong></p>
              </div>
              <hr class="ml-4 mb-auto mt-auto">
              <p class="pl-4 pr-2 mb-auto mt-auto description-carousel-caption">Our comprehensive design packages and data solutions support other project stakeholders, operations, future projects and long-term asset management.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(min-width: 1200px)" [srcset]="lifecycle_Solutionos_1920">
          <source media="(min-width: 992px)" [srcset]="lifecycle_Solutionos_1200">
          <source media="(min-width: 768px)" [srcset]="lifecycle_Solutionos_992">
          <source media="(min-width: 576px)" [srcset]="lifecycle_Solutionos_768">
          <source [srcset]="lifecycle_Solutionos_576">
          <img class="d-block img-fluid" [src]="lifecycle_Solutionos_1920" alt="Trusted Experts" sr-only="Trusted Experts">
        </picture>
        <div class="carousel-caption custom-carousel-caption">
          <div class="d-flex align-items-start flex-column carousel-text-container">
            <div class="mb-auto mt-auto">
              <p class="carousel-caption-header-text pl-4"><strong>Trusted</strong></p>
              <p class="carousel-caption-header-text pl-4"><strong>Experts</strong></p>
            </div>
            <hr class="ml-4 mb-auto mt-auto">
            <p class="pl-4 pr-2 mb-auto mt-auto description-carousel-caption">Our foundation includes subject matter expertise in engineering, regulations and codes, construction and inspection.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container">
    <div class="d-flex mt-3">
      <span class="home-page-text">
        <strong>AMP X Consulting Inc.</strong> (AMP X) is a company that’s <strong>20 years</strong> in the making. With multiple decades of experience and 
        lessons-learned acquired from the completion of more than 100 electrical, instrumentation and controls (E, I and C) 
        projects, we have developed a solution we feel can truly help our customers deliver their projects better. Through our 
        AMP X CORE technology and practical project delivery methods that enable thoughtful engineering, we help customers 
        improve their bottom lines.
      </span>
    </div>
    <div class="d-flex mt-3">
      <span class="home-page-text">
        Using our AMP X CORE technology, paired with subject matter expertise that spans engineering, inspection and hands-on construction, 
        we go beyond end-to-end E, I and C services. The AMP X CORE technology is a powerful combination that includes a proprietary database 
        and design tools that are easy to use, inexpensive for our customers and promote the highest safety and quality.
      </span>
    </div>
    <div class="d-flex mt-3">
      <span class="home-page-text">
      An important feature of our project delivery model is that we are able to leave customers with not only a complete set of deliverables, 
      but also a comprehensive data package to support other project stakeholders, operations, future projects and long-term asset management… 
      <strong>For no additional cost.</strong>
      </span>
    </div>
    <div class="d-flex mt-3">
      <span class="home-page-text">
        Customers who can benefit from our solutions include end-users such as oil & gas companies, as well as equipment vendors, other engineering service 
        providers and construction contractors.
      </span>
    </div>
    <div class="d-flex mt-3 mb-3">
      <span class="home-page-text">
        Please refer to the <a class="text-warning" routerLink="/about_us">‘About Us’</a> page for more information, or <a class="text-warning" routerLink="/contact_us">contact us</a> directly.
      </span>
    </div>
    <div class="d-flex justify-content-center position-relative">
      <div class="home-page-black-line"></div>
      <span class="h1 affiliations-text">Affiliations</span>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
      <a class="nounderline ml-1 mr-1" href="http://www.apega.ca">
        <img class="d-block img-fluid" [src]="apegaImg" alt="apega" sr-only="Association of Professional Engineers and Geoscientists of Alberta">
      </a>
      <a class="nounderline ml-1 mr-1" href="http://www.aset.ab.ca">
        <img class="d-block img-fluid" [src]="asetImg" alt="aset" sr-only="The Association of Science & Engineering Technology Professionals of Alberta">
      </a>
      <a class="nounderline ml-1 mr-1" href="http://www.safetycodes.ab.ca">
        <img class="d-block img-fluid" [src]="ccImg" alt="sc" sr-only="Safety Codes">
      </a>
      <a class="nounderline ml-1 mr-1" href="http://www.ecaa.ab.ca">
        <img class="d-block img-fluid" [src]="ecaaImg" alt="ecaa" sr-only="Electrical Contractors Association of Alberta">
      </a>
    </div>
  </div>
  <footer *ngIf="sizeWindow > 992; else werticalFooter">
    <div class="custom-footer">
      <div class="d-flex align-items-center justify-content-around h-100">
        <div class="p-1 bd-highlight">
          <div class="row align-items-center">
            <div class="col-4">
              <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
            </div>
            <div class="col-8">
              <span> <a href="tel:1.403.863.0893" class="footer_href">1.403.863.0893</a></span>
            </div>
          </div>
        </div>
        <div class="p-1 bd-highlight">
          <div class="row align-items-center">
            <div class="col-4">
              <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
            </div>
            <div class="col-8">
              <span><a class="footer_href" href="mailto:info@ampx.ca">info@ampx.ca</a></span>
            </div>
          </div>
        </div>
        <div class="p-1 bd-highlight">
          <div class="row align-items-center">
            <div class="col-3">
              <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
            </div>
            <div class="col-9">
              <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
            </div>
          </div>
        </div>
        <div class="p-1 bd-highlight">
            <span class="footer-text">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
        </div>
      </div>
    </div>
  </footer>
  <ng-template class="template-footer" #werticalFooter>
    <div class="custom-footer">
      <div class="d-flex flex-column">
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
            </div>
          </div>
          <div class="col-6 mr-a">
            <span> <a href="tel:1.403.863.0893" class="footer_href" >1.403.863.0893</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
            </div>
          </div>
          <div class="col-6">
            <span><a class="footer_href" href="mailto:info@ampx.ca" >info@ampx.ca</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
            </div>
          </div>
          <div class="col-6">
            <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <span class="footer-text text-center">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
