<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand d-block img-fluid" routerLink="/">
    <picture>
      <source media="(min-width: 1200px)" [srcset]="companyLogo_1200">
      <source media="(min-width: 992px)" [srcset]="companyLogo_768">
      <source [srcset]="companyLogo_768">
      <img class="d-block img-fluid" [src]="companyLogo_1200" alt="companyLogo" sr-only="AMPX">
    </picture>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" routerLink="/">Home <span class="sr-only"> Home </span></a>
        </div>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" routerLink="/about_us"> About Us <span class="sr-only"> About Us </span></a>
        </div>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" routerLink="/services"> Services <span class="sr-only"> Services </span></a>
        </div>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" routerLink="/contact_us"> Contact Us <span class="sr-only"> Contact Us </span></a>
        </div>
      </li>
      <li *ngIf="authService.loggedIn() && !authService.masterLogedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" routerLink="/project">Project <span class="sr-only"> Project </span></a>
        </div>
      </li>
      <!--
        <li *ngIf="!authService.loggedIn()" class="nav-item">
          <a class="nav-link h3" routerLink="/login"> Login <span class="sr-only"> Login </span></a>
        </li>
        <li *ngIf="!authService.loggedIn()" class="nav-item">
          <a class="nav-link h3" routerLink="/register"> Register <span class="sr-only"> Register </span></a>
        </li>
      -->
      <!-- -->
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4 ampx-tools-button text-center" routerLink="/signin"> AMP X CORE <span class="sr-only"> AMP X CORE </span></a>
        </div>
      </li>
      <!-- -->
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" (click)="onLogoutClick()" href="#"> Logout <span class="sr-only"> Logout </span></a>
        </div>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" routerLink="/profile"> Profile <span class="sr-only"> Profile </span></a>
        </div>
      </li>
      <li *ngIf="authService.loggedIn() && authService.masterLogedIn()">
        <div class="d-flex justify-content-center">
          <a class="nav-link h4" routerLink="/superadmin">Admin panel <span class="sr-only"> Admin panel </span></a>
        </div>
      </li>
    </ul>
  </div>
</nav>
