<div>
  <section id="cover">
    <div id="cover-caption">
      <div id="container" class="container">
        <div [ngSwitch]="windowType">
          <!-- START ForgotPass Section -->
          <div *ngSwitchCase="1">
              <div class="row justify-content-center">
                  <div class="col-11 col-md-6 col-lg-5 form-style">
                    <div class="position-relative form-margin">
                      <img  class="img-responsive rocket-style" src="https://i.imgur.com/zl9teOq.png">
                      <p class="h5">Customer Portal Forgot Password</p>
                    </div>
                    <form [formGroup]="forgotPassForm" novalidate (ngSubmit)="submit()">
                      <div class="form-group form-element-height">
                        <input class="form-control" type="text" name="companyName" formControlName="companyName" placeholder="Company name"/>
                        <div class="form-control-feedback error-color" *ngIf="forgotPassForm.controls['companyName'].invalid && forgotPassForm.controls['companyName'].touched">
                          Company name is required
                        </div>
                      </div>
                      <div class="form-group form-element-height">
                        <input class="form-control" type="email" name="email" formControlName="userEmail" placeholder="Email" />
                        <div class="form-control-feedback error-color" *ngIf="forgotPassForm.controls['userEmail'].invalid && forgotPassForm.controls['userEmail'].touched">
                          Invalid email address
                        </div>
                      </div>
                      <div>
                        <button class="btn btn-warning form-control" [disabled]="forgotPassForm.invalid">
                          Send
                        </button>
                      </div>
                    </form>
                    <div class="d-flex justify-content-around form-switch">
                      <a class="cursor-pointer float-shadow" (click)="setMenuValue(0)">Login</a>
                    </div>
                  </div>
                </div>
          </div>
          <!-- END ForgotPass Section -->
          <!-- START Register section -->
          <div *ngSwitchCase="2">
            <div class="row justify-content-center">
                <div class="col-11 col-md-6 col-lg-5 form-style">
                  <div class="position-relative form-margin">
                    <img  class="img-responsive rocket-style" src="https://i.imgur.com/zl9teOq.png">
                    <p class="h5">Customer Portal Register</p>
                  </div>
                  <form [formGroup]="registerForm" novalidate (ngSubmit)="onRegisterSubmit()">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="email" name="email" formControlName="userEmail" placeholder="Email" />
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['userEmail'].errors && registerForm.controls['userEmail'].touched">
                            <div *ngIf="registerForm.controls['userEmail'].errors.required">Email is required</div>
                            <div *ngIf="!registerForm.controls['userEmail'].errors.required && registerForm.controls['userEmail'].errors.email">Email is invalid</div>
                          </div>
                        </div>
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="text" formControlName="confirmUserEmail" placeholder="Confirm Email"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['confirmUserEmail'].invalid && registerForm.controls['confirmUserEmail'].touched">
                            <div class="text-left pl-1" *ngIf="!registerForm.controls['confirmUserEmail'].errors.required && registerForm.controls['confirmUserEmail'].errors.matchOther">Email is not confirm</div>
                            <div class="text-left pl-1" *ngIf="registerForm.controls['confirmUserEmail'].errors.required">Confirm email is required</div>
                            <!--
                            <div class="text-left pl-1" *ngIf="!registerForm.controls['confirmUserEmail'].errors.required && registerForm.controls['confirmUserEmail'].errors.email">Confirm email is invalid</div>
                            -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="text" name="userName" formControlName="userName" placeholder="User name"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['userName'].invalid && registerForm.controls['userName'].touched">
                            User name is required
                          </div>
                        </div>
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="text" name="firstName" formControlName="firstName" placeholder="First name"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched">
                            First Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="text" name="companyName" formControlName="companyName" placeholder="Company name"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['companyName'].invalid && registerForm.controls['companyName'].touched">
                            Company name is required
                          </div>
                        </div>
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="text" name="lastName" formControlName="lastName" placeholder="Last name"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched">
                            Last name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="text" name="city" formControlName="city" placeholder="City"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['city'].invalid && registerForm.controls['city'].touched">
                            City is required
                          </div>
                        </div>
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="text" formControlName="phoneNumber" (keypress)="keyPress($event)" placeholder="Phone number"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['phoneNumber'].invalid && registerForm.controls['phoneNumber'].touched">
                            Invalid phone number
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="password" name="password" formControlName="userPassword" placeholder="Password" />
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['userPassword'].invalid && registerForm.controls['userPassword'].touched">
                            <div *ngIf="registerForm.controls['userPassword'].errors.required">Password is required</div>
                            <div *ngIf="!registerForm.controls['userPassword'].errors.required && registerForm.controls['userPassword'].errors.minlength">Minimum 6 characters</div>
                          </div>
                        </div>
                        <div class="col-6 form-element-height">
                          <input class="form-control" type="password" formControlName="userConfirmPassword" placeholder="Confirm password"/>
                          <div class="form-control-feedback error-color" *ngIf="registerForm.controls['userConfirmPassword'].invalid && registerForm.controls['userConfirmPassword'].touched">
                            <div *ngIf="!registerForm.controls['userConfirmPassword'].errors.required && registerForm.controls['userConfirmPassword'].errors.matchOther">Password is not confirm</div>
                            <div *ngIf="registerForm.controls['userConfirmPassword'].errors.required">Password is required</div>
                            <!--
                            <div *ngIf="registerForm.controls['userConfirmPassword'].errors.minlength">Minimum 6 characters</div>
                            -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button class="btn btn-warning form-control" [disabled]="registerForm.invalid">
                        Send
                      </button>
                    </div>
                  </form>
                  <div class="d-flex justify-content-around form-switch">
                    <a class="cursor-pointer float-shadow" (click)="setMenuValue(0)">Login</a>
                    <a class="cursor-pointer float-shadow" (click)="setMenuValue(1)">Forgot password?</a>
                  </div>
                </div>
              </div>
          </div>
          <!-- END Register Section -->
          <!-- START Login Section -->
          <div *ngSwitchDefault>
            <div class="row justify-content-center">
              <div class="col-11 col-md-6 col-lg-5 form-style">
                <div class="position-relative form-margin">
                  <img  class="img-responsive rocket-style" src="https://i.imgur.com/zl9teOq.png">
                  <p class="h5">Customer Portal Login</p>
                </div>
                <form [formGroup]="loginForm" novalidate (ngSubmit)="onLoginSubmit()">
                  <div class="form-group form-element-height">
                    <input class="form-control" type="text" name="companyName" formControlName="companyName" placeholder="Company name"/>
                    <div class="form-control-feedback error-color" *ngIf="loginForm.controls['companyName'].invalid && loginForm.controls['companyName'].touched">
                      Company name is required
                    </div>
                  </div>
                  <div class="form-group form-element-height">
                    <input class="form-control" type="email" name="email" formControlName="userEmail" placeholder="Email" />
                    <div class="form-control-feedback error-color" *ngIf="loginForm.controls['userEmail'].invalid && loginForm.controls['userEmail'].touched">
                      Invalid email address
                    </div>
                  </div>
                  <div class="form-group form-element-height">
                    <input class="form-control" type="password" name="password" formControlName="userPassword" placeholder="Password" />
                    <div class="form-control-feedback error-color" *ngIf="loginForm.controls['userPassword'].invalid && loginForm.controls['userPassword'].touched">
                      <div *ngIf="loginForm.controls['userPassword'].errors.required">Password is required</div>
                      <div *ngIf="loginForm.controls['userPassword'].errors.minlength">Password should be minimum 6 characters</div>
                    </div>
                  </div>
                  <div>
                    <button class="btn btn-warning form-control" [disabled]="loginForm.invalid">
                      Send
                    </button>
                  </div>
                </form>
                <div class="d-flex justify-content-around form-switch">
                  <a class="cursor-pointer float-shadow" (click)="setMenuValue(2)">Register</a>
                  <a class="cursor-pointer float-shadow" (click)="setMenuValue(1)">Forgot password?</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END Login Section -->
        </div>
      </div>
    </div>
  </section>
</div>
<footer *ngIf="sizeWindow > 992; else werticalFooter">
    <div class="custom-footer">
        <div class="d-flex align-items-center justify-content-around custom-footer-link max-height">
            <div class="p-1 bd-highlight">
              <div class="row align-items-center">
                <div class="col-4">
                  <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
                </div>
                <div class="col-8">
                  <span> <a href="tel:1.403.863.0893" class="footer_href">1.403.863.0893</a></span>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
              <div class="row align-items-center">
                <div class="col-4">
                  <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
                </div>
                <div class="col-8">
                  <span><a class="footer_href" href="mailto:info@ampx.ca">info@ampx.ca</a></span>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
              <div class="row align-items-center">
                <div class="col-3">
                  <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
                </div>
                <div class="col-9">
                  <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
                <span class="footer-text">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
            </div>
          </div>
        </div>
  </footer>
  <ng-template class="template-footer" #werticalFooter>
    <div class="custom-footer">
      <div class="d-flex flex-column">
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="phoneImg" alt="phone:" sr-only="phone number">
            </div>
          </div>
          <div class="col-6 mr-a">
            <span> <a href="tel:1.403.863.0893" class="footer_href">1.403.863.0893</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="emailImg" alt="email address" sr-only="email">
            </div>
          </div>
          <div class="col-6">
            <span><a class="footer_href" href="mailto:info@ampx.ca">info@ampx.ca</a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-6">
            <div class="float-right">
              <img class="d-block" [src]="linkedInImg" alt="linkedIn" sr-only="linked in account">
            </div>
          </div>
          <div class="col-6">
            <span class="footer-text">Follow us on <a href="https://www.linkedin.com/company/amp-x-consulting-inc.?trk=top_nav_home" target="_blank" class="footer_href"><strong>LinkedIn</strong></a></span>
          </div>
        </div>
        <div class="row mt-2 footer-row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <span class="footer-text text-center">AMP X Consulting Inc. &copy; {{year}} | All Rights Reserved</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
